:host {
    height: 100%;
}

.container-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

p.outside-message {
    width: 95%;
    text-align: end;
}

